* {
  text-align: center;
}

.conteneur {
  display: grid;
  grid-template:  "en-tete              en-tete"
                  "personnes-actives historique"
                  "personnes-actives nouveau-message"
                  "routage                   routage";
}

@media (max-width: 600px) {
  .conteneur {
    grid-template:  "en-tete"
                    "historique"
                    "personnes-actives"
                    "nouveau-message"
                    "routage";
  }
}

router-outlet {
  grid-area: routage;
}

app-en-tete {
  grid-area: en-tete;
}

app-historique {
  grid-area: historique;
}

app-personnes-actives {
  height: 500px;
  grid-area: personnes-actives;
}

app-nouveau-message {
  grid-area: nouveau-message;
}
